body {
  padding-bottom: 50px;
}

.jumbotron {
  background-color: #403aa9;
  color: #eeeeee;
}

#pleonasm-app {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: monospace;
}

.pleonasm-input {
  font-size:12pt;
}